<div class="modal fade" id="modalPos" tabindex="-1" role="dialog" aria-labelledby="modalPos"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Configurar Pós-Avaliação</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                      <p>Além da satisfação de reencontrar você, é muito importante para nós o seu comparecimento à avaliação deste encontro, a realizar-se no dia: </p>
                      <label class="form-label">Data, Hora e Local do Pós de Avaliação</label>
                      <input type="text" class="form-control" id="dataPos" aria-describedby="Data Pós">
                  </div>
                </div>             
              </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" onClick="adicionarPos()"> Adicionar Pós </button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>