<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Quadrantes Digitalizados</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3"></div>

        <div class="card-body">
            <div class="table-responsive">
               <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="text-decoration-none show" style="font-weight: 800;">QUADRANTE SEGUE-ME 2015</span>
                        <a  href="/documents/download_pdf_2015" class="btn btn-sm btn-success">
                          <i class="fa-solid fa-file-lines"></i>
                        </a>
                    </li>
                     <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="text-decoration-none show" style="font-weight: 800;">QUADRANTE SEGUE-ME 2017</span>
                        <a  href="/documents/download_pdf_2017" class="btn btn-sm btn-success">
                          <i class="fa-solid fa-file-lines"></i>
                        </a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="text-decoration-none show" style="font-weight: 800;">QUADRANTE SEGUE-ME 2018</span>
                        <a  href="/documents/download_pdf_2018" class="btn btn-sm btn-success">
                          <i class="fa-solid fa-file-lines"></i>
                        </a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="text-decoration-none show" style="font-weight: 800;">QUADRANTE SEGUE-ME 2019</span>
                        <a  href="/documents/download_pdf_2019" class="btn btn-sm btn-success">
                          <i class="fa-solid fa-file-lines"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>
</div>

<!-- Footer -->
<%= render "layouts/footer"%>
<!-- End of Footer -->
</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
