<div class="titulo-capa">
    <h1 class="titulo-capa">ARQUIDIOCESE DE NATAL</h1>
    <h1 class="titulo-capa">PARÓQUIA DE SANT'ANA E SÃO JOAQUIM</h1>
    <h1 class="titulo-capa">SÃO JOSÉ DE MIPIBU</h1>
</div>
<div class="titulo-capa">
    <%= image_tag "logo.png", height:1000 %>
</div>
<div class="titulo-capa">
    <h2 class="titulo-capa" id="tituloCapa"></h2>
    <h2 class="titulo-capa" id="dataCapa"></h2>
</div>


