<br><br>
<div class="titulo-capa">
    <h1 class="titulo-capa">PADROEIRO DO ENCONTRO</h1>
    <h1 class="titulo-capa" id="padroeiroCapa"></h1>
</div>
<div class="titulo-capa margin">
    <%= image_tag "encontro_padroeiro.png", height:500 %>
</div>
<div class="titulo-capa">
    <p class="titulo-capa texto-padroeiro margem" id="historiaCapa"></p>
</div>

<div class="titulo-capa margem">
    <h3> C O N V I T E </h3>
    <p class="titulo-capa texto-convite">
      Além da satisfação de reencontrar você, é muito importante para nós o seu comparecimento à avaliação 
      deste encontro, a realizar-se no dia <p class="titulo-capa texto-convite" id="conviteCapa"></p></p>
</div>


