<br><br>
<div class="titulo-capa">
    <h1 class="titulo-capa">SANT'ANA E SÃO JOAQUIM</h1>
</div>
<div style="margin-top:120px" class="titulo-capa">
    <%= image_tag "paroquia_padroeiro.png", height:600 %>
</div>
<div class="titulo-capa">
    <p class="titulo-capa texto-padroeiro texto-padroeiro-margens">
        Santa Ana e São Joaquim são um dos grandes milagres que vemos nas histórias, 
        pois conta a história que apesar da idade avançada os dois não possuíam filhos 
        devido a esterilidade, e isto os causava grande sofrimento, já que para os judeus 
        não ter filhos era um sinal de maldição de Deus. Porém eles nunca desistiram de sua fé, 
        e após muitas orações e muita fé Ana Engravidou, estava esperando Maria. </p>
        
        <p class="titulo-capa texto-padroeiro">
        Era um grande milagre para o casal, Maria nasceu, já com a missão de gerar o Filho de Deus. 
        Podemos atestar a santidade de Santa Ana e São Joaquim através da santidade de Maria, 
        pois como diz um antigo provérbio: "pelos frutos conhecemos as árvores". Maria, ao nascer, 
        não só tirou dos ombros dos pais o peso de uma vida de medo de uma maldição, 
        mas ainda recompensou-os pela fé, ao ser escolhida no futuro para ser a Mãe do Filho de Deus. </p>

        <p class="titulo-capa texto-padroeiro">
        Maria recebeu no lar formado por seus pais todo o tesouro das tradições da Casa de Davi que 
        passavam de uma geração para outra; foi no lar que aprendeu a dirigir-se a Deus com imensa piedade; 
        foi no lar que conheceu as profecias relativas à chegada do Messias. São Joaquim e Santa Ana, pais 
        Maria, foram, no seu tempo e nas circunstâncias históricas concretas, um elo precioso do projeto da salvação da humanidade.
        </p>
</div>


