<br><br>
<div class="titulo-capa">
    <h1 class="titulo-capa">PADROEIRO DO ENCONTRO</h1>
    <h1 class="titulo-capa">SÃO JOÃO PAULO II</h1>
</div>
<div class="titulo-capa margin">
    <%= image_tag "encontro_padroeiro.png", height:500 %>
</div>
<div class="titulo-capa">
    <p class="titulo-capa texto-padroeiro margem">
        São João Paulo II nasceu no dia 18 de Maio de 1920, em Wadowice, na Polônia. Foi batizado com o nome de Karol Wojtyła.
        Em Outubro de 1942, entrou no seminário de Cracóvia clandestinamente por causa da invasão comunista em seu país e, 
        em 1º de novembro de 1946, foi ordenado sacerdote. Em 4 de julho de 1958, o Papa Pio XII nomeou-o Bispo 
        auxiliar de Cracóvia. Tendo em vista sua espiritualidade marcadamente mariana, Karol escolheu como 
        lema episcopal a conhecida expressão “Totus tuus”, de São Luís Maria Grignion de Montfort, grande 
        apóstolo da Virgem Maria. A ordenação episcopal de Wojtyla foi em 28 de setembro do mesmo ano. 
        No dia 13 de janeiro de 1964, foi eleito Arcebispo de Cracóvia. Em 26 de junho de 1967, foi criado 
        Cardeal por Paulo VI. Na tarde de 16 de outubro de 1978, depois de oito escrutínios, foi eleito Papa. </p>
        
        <p class="titulo-capa texto-padroeiro">
        A espiritualidade mariana do grande São João Paulo II o levou a uma vida inteiramente dedicada a Deus,
         principalmente os seus mais de 25 anos de pontificado, um dos mais longos da história da Igreja. 
         Olhando para a vida de João Paulo II, esse santo dos nossos dias, podemos aprender a espiritualidade 
         que o fez de um dos Papas mais extraordinários de todos os tempos e que o elevou rapidamente à 
         glória dos altares.</p>
</div>

<div class="titulo-capa margem">
    <h3> C O N V I T E </h3>
    <p class="titulo-capa texto-convite">
      Além da satisfação de reencontrar você, é muito importante para nós o seu comparecimento à avaliação 
      deste encontro, a realizar-se no dia 01 de dezembro de 2018, às 19 horas, na Igreja Matriz
      Sant'Ana e São Joaquim.</p>
</div>


