<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th colspan="12" class="show-quadrante" style="background-color: #fbfbfb;">Tema: Personalidade </th>
        </tr>
         <tr>
            <th colspan="12" class="show-quadrante">Pergunta</th>
        </tr>
    </thead>
    <tbody>
        <% circles.each do |mc| %>
            <tr>
                <td class="show-quadrante col-2" colspan="2">oiii</td>
                <td class="show-quadrante col-10" colspan="10">oi</td>
            </tr>
        <% end %>
    </tbody>
</table>