<!-- Renderizar equipes e equipistas -->
<h1 class="quebra-de-pagina">Relação de Equipes</h1>
<% @teams.each do |team| %>
    <h1 class="h3 mb-2 text-gray-800"><%= team.name %></h1>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Coordenador" %>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Equipista" %>
    <p class="quebra-de-pagina"></p>
<% end %>