<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800"> Configurar Capa Quadrante </h1>
    <div class="card shadow mb-4">
      <div class="card-body">

        <div class="row mt-4">
          <div class="col-md-6">
            <label class="form-label">Título do Encontro </label>
            <input type="text" class="form-control" id="titulo" aria-describedby="Titulo">
          </div>
          <div class="col-md-6">
            <label class="form-label">Data do Encontro</label>
            <input type="text" class="form-control" id="dataEncontro" aria-describedby="Data Encontro">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <label class="form-label">Data, Hora e Local do Pós de Avaliação</label>
            <input type="text" class="form-control" id="dataPos" aria-describedby="Data Pós">
          </div>
            <div class="col-md-6">
              <label class="form-label">Padroeiro do Encontro</label>
              <input type="text" class="form-control" id="padroeiro" aria-describedby="Padroeiro">
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-12">
              <label class="form-label">História do Padroeiro</label>
              <textarea class="form-control" id="padroeiroHistoria" aria-describedby="Padroeiro História"  rows="3"></textarea>
            </div>
        </div>

         <button class="btn btn-primary mt-3" onClick="gerarQuadrante()">Gerar Quadrante Configurado </button>
         <button class="btn btn-secondary mt-3" onClick="gerarQuadranteSemConfigurar()">Gerar Quadrante SEM Configurar </button>
      </div>
    </div>
  </div>
</div>