<nav aria-label="paginação">
    <ul class="pagination">
        <li class="page-item">
            <%= link_to_previous_page paginacao, 'Anterior', class:"page-link" %>
        </li>

        <li class="page-item">
                <%= link_to_next_page paginacao, 'Próximo', class:"page-link" %>
        </li>
    </ul>
</nav>    